.section {
	padding: 0 10%;
}

.section > p {
	margin: 20px auto;
	max-width: 400px;
}

.horizontalBlock {
	display: flex;
	align-items: center;
}

.verticalBlock {
	width: 50%;
	text-align: left;
}

.leftColumn {
	max-width: 500px;
	margin-right: 10px;
}

.rightColumn {
	max-width: 500px;
	margin-left: 10px;
}

#introImage {
	width: 50%;
	height: auto;
}

#learnImage {
	width: 50%;
	height: auto;
}

#learnExperienceConnectImage {
	width: 100%;
	height: auto;
}

img.star {
	width: 25%;
	height: auto;
	margin-left: 20px;
	margin-right: 20px;
}

.content-footer {
	height: 300px;
}

body {
	background: url('../images/bg-space.png') 100% 100% no-repeat;
}